body {
    background: #2c2c2c;
}
aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
.logoimg {
    width: 50px; /* Задайте нужную ширину */
    height: auto; /* Сохраняет пропорции изображения */
    float: left;

}
.logotxt {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;

}
aside h3 {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 15px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;

}

a {
    text-decoration: none;

}
aside ul li:hover, aside ul a:hover {
    color: #eb5959;

    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}