{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid consequatur eligendi, et fugit illo reprehenderit vero voluptatibus. Dolorum, voluptates!</p>
    <button class="btn btn-warning">На страницу про нас</button>

    {% for value in values %}
        {% if value == 'Hello' %}
            {% filter upper %}
            <p>{{  value }}</p>
            {% endfilter %}
        {% endif %}
    {% endfor %}

    {% for value in obj %}
    <p>{{ value | upper}}</p>
    {% endfor %}

</div>


{% endblock %}