{% extends 'main/layout.html' %}

{% block title %} Новости на сайте  {% endblock %}

{% block content %}
<div class="features">
    <h1>Новости на сайте</h1>
    {% if news %}
    {%  for el in news %}
        <div class="alert alert-warning">
            <h3>{{ el.title }}</h3> {# вставляем из класс в models Article #}
            <p>{{ el.anons }}</p>
            <p>{{ el.date }}</p>
            <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">Подробнее</a>
            <a href="{% url 'news_update' el.id %}" class="btn btn-success">Редактировать</a>
            <a href="{% url 'news_delete' el.id %}" class="btn btn-danger">Удалить</a>
        </div>
    {% endfor %}
    {% else %}
        <p>У вас нет записей!</p>
    {% endif %}


</div>


{% endblock %}